.first {
    float:left
}

.logo {
    float:left
}

.text {
    float:left
}

.second {
    clear:both
}

.login {
    float:left
}

.dept {
    float:left
}

.line {
    clear:both;
}

.tb {
    clear:both
}

